@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

/*CSS*/

*, *::before, *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }

  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }

  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }

  input, button, textarea, select {
    font: inherit;
  }

  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  /*APP*/

body{
  background-color: #0a0017;
background-image: url("https://www.transparenttextures.com/patterns/cartographer.png");
color: white;
font-family: "Rubik", sans-serif;
}

  /* container */
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  /* todos list */
  .title{
    text-align: center;
    font-size: 3rem;
    padding: 3rem 0 2rem;

  }

  .todos{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  .todo {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;

    background-color: rgba(0,0,0,0.1);
    width: 50%;
    font-size: 1.5rem;
  }
.mutations{
  display: flex;
  gap: 0.5rem;
}
  .todo__status,
  .todo__delete{
    border: none;
    padding:0;
    line-height:1;
    cursor: pointer;
    transition: all 0.2s;
    background: none;
    color: white;
    &:hover{
        transform: scale(1.15);
    }
  }

  /*FORM*/

  .form{
    display: flex;
    gap: 0.5rem;
    width: 50%;
    margin: 1rem auto;
  }

  .form__input{
    flex:1;
    padding: 0.25rem 0.5rem;
  }